* {
    color:black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 500px;
    height:auto;
    border: 5px solid;
    border-color: brown;
}

h1, h2, h3 {
    color: rgb(93, 42, 42);
    background-color: blanchedalmond;
}

h1 {
    font-size: 62px;
    text-decoration: underline;
}

.links {
    font-size: 42px;
    display: inline-block;
}

li {
    padding: 5px 0;
}

h2 {
    font-size: 42px;
}
h3 {
    font-size: 32px;
}

p, ul, ol, li {
    font-size: 24px;
    background-color: blanchedalmond;
}

.card {
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 3px 3px rgb(82, 2, 2);
    border-width: 2px;
    border-color: darkred;
    padding: 10px;
}

.home-title {
    display: inline-block;
}

li, .links, a, div, .card, .home-title {
    background-color: blanchedalmond;
}

.title-image {
    max-width: 600px;
}

.caldo-de-res-recipe {
    display: inline-block;
    
}